VITE_SUPABASE_URL=https://yueoptkuphdlfsopjstk.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl1ZW9wdGt1cGhkbGZzb3Bqc3RrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5NjM2MDIsImV4cCI6MjA5MzUzOTYwMn0.Ba1PSjykXVjGsZjGwXUOzTVZLJ5Hv-QFPMi8wn8A5v4